<% for entry in @entries %>
<div class = "entry">
	<%= link_to entry.title, entry.url, :target => "_blank", :class => "entry-title" %>
	<br />
	<%= "by #{entry.author}   "%>
	<em><%= entry.created_at.strftime('at %I:%M %p %b %d, %Y ') %></em>
	<br />
	<br />

	<% if !entry.content.nil? %>
	<%= entry.content.html_safe %>
	<% elsif !entry.summary.nil? %>
	<%= entry.summary.html_safe %>
	<% else %>
	<% end %>
</div>

<div class = "entry-footer">
	<%= "THE LAST LINE IS RESERVED" %>
</div>

<% end %>

