<div class = "well sidebar-nav">

	<%= form_for Feed.new do |f| %>
	<%= f.text_field :feed_url, :style => 'width: 52%'  %>
	<%= f.submit "SUBSCRIBE", class: "btn btn-info", :id => "subscribe-button" %>
	<% end %>

	<%= form_for Feed.new, :method => :delete do |f| %>
	<%= f.text_field :title, :style => 'width: 52%'  %>
	<%= f.submit "Delete", class: "btn btn-danger", :id => "subscribe-button" %>
	<% end %>

	<ul class="nav nav-tabs nav-stacked">
		<% for feed in @feeds %>
		<li>
			<%= link_to feed.title, feed , id: "feed-nav", remote: true %>
		</li>
		<% end %>
	</ul>

</div>

