<div class = "well sidebar-nav sidebar-nav-fixed">

	<h2><%= link_to "Atom Reader", :root, {id: "title"} %></h2>

	<%= form_for Feed.new do |f| %>
	<%= f.text_field :feed_url, :style => 'width: 52%'  %>
	<%= f.submit "SUBSCRIBE", class: "btn btn-info", :id => "subscribe-button" %>
	<% end %>

	<ul class="nav nav-tabs nav-stacked">
		<% for feed in @feeds %>
		<li>
			<%= link_to feed.title+" #{feed.id}", feed , id: "feed-nav" %>
		</li>
		<% end %>
	</ul>

</div>
