<h1>Atom Reader</h1>

<div class = "row">
	
	<div class = "span4">
		
		<%= form_for Feed.new do |f| %>
			<%= f.label :feed_url, "Subscription" %>
			<%= f.text_field :feed_url %>
			<%= f.submit "Create", class: "btn btn-primary" %>
		<% end %>

		<% for feed in @feeds %>
		<%= link_to feed.title + " " + "#{feed.id}", "/feeds/show?q=#{feed.id}" %> <br />
		<% end %>

	</div>
	
	<div class = "span8">
		<% for entry in @entries %>
		<div class = "entry">
			<%= link_to entry.title, entry.url, :target => "_blank" %>
			<br />
			
			<% if !entry.content.nil? %>
			<%= entry.content.html_safe %>
			<% elsif !entry.summary.nil? %>
			<%= entry.summary.html_safe %>
			<% else %>
			<% end %>
			
			<br />
		</div>
		<% end %>
	
	
</div>